/*! HTML5 Boilerplate v5.0.0 | MIT License | http://h5bp.com/ */

/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */



/* Diseño móvil: 480 px e inferior. */
.clear { clear: both; }
.h10 { height: 10px; }
.h20 { height: 20px; }
.h30 { height: 30px; }
.h40 { height: 40px; }
.h50 { height: 50px; }
.h60 { height: 40px; }
h1, h2, h3, h4, h5, h6 { font-weight: 700; }
/*  -----------
	L A Y O U T
	-----------
*/
.loading-container { position: absolute; left: 50%; top: 50%; z-index: 10; }
.pulse { border: 3px solid #999; height: 30px; width: 30px; position: absolute; left: -15px; top: -15px; -webkit-animation: pulsate 1s ease-out; -moz-animation: pulsate 1s ease-out; animation: pulsate 1s ease-out; -webkit-animation-iteration-count: infinite; -moz-animation-iteration-count: infinite; animation-iteration-count: infinite; -webkit-border-radius: 30px; -moz-border-radius: 30px; -ms-border-radius: 30px; -o-border-radius: 30px; border-radius: 30px; filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0); opacity: 0; }
@keyframes pulsate { 0% { -webkit-transform: scale(0.1, 0.1); -moz-transform: scale(0.1, 0.1); transform: scale(0.1, 0.1); opacity: 0.0; } 50% { opacity: 1.0; } 100% { -webkit-transform: scale(1.2, 1.2); -moz-transform: scale(1.2, 1.2); transform: scale(1.2, 1.2); opacity: 0.0; } }
@-webkit-keyframes pulsate { 0% { -webkit-transform: scale(0.1, 0.1); -moz-transform: scale(0.1, 0.1); transform: scale(0.1, 0.1); opacity: 0.0; } 50% { opacity: 1.0; } 100% { -webkit-transform: scale(1.2, 1.2); -moz-transform: scale(1.2, 1.2); transform: scale(1.2, 1.2); opacity: 0.0; } }
@-moz-keyframes pulsate { 0% { -webkit-transform: scale(0.1, 0.1); -moz-transform: scale(0.1, 0.1); transform: scale(0.1, 0.1); opacity: 0.0; } 50% { opacity: 1.0; } 100% { -webkit-transform: scale(1.2, 1.2); -moz-transform: scale(1.2, 1.2); transform: scale(1.2, 1.2); opacity: 0.0; } }
/*=================
=== h e a d e r ===
===================*/
header { width: 100%; height: 100%; min-height: 500px; position: relative; overflow: hidden; padding: 0; margin: 0; background: white; }
.contHeaderTools { width: 100%; height: auto; padding: 10px 0px; margin: 0; position: absolute; z-index: 2; top: 0; left: 0; }
.contHeaderTools .logo h1 { width: 100%; height: auto; margin-top: 10px; padding: 0; text-align: center; color: black; }
.contHeaderTools .logo h1 a { width: 100%; height: auto; margin-bottom: 0px; padding: 0; display: block; }
.contHeaderTools .logo h1 a img { display: block; width: 100%; max-width: 90px; height: auto; padding: 0; margin: 0px auto; }
.contHeaderTools .menuCont nav { width: 100%; height: auto; padding: 0; margin: 20px 0px 0px 0px; display: block; }
.contHeaderTools .menuCont nav ul { width: 100%; height: auto; padding: 0; margin: 0; display: inline-block; list-style: none; text-align: right; }
.contHeaderTools .menuCont nav ul li { list-style: none; padding: 0; margin: 0; display: inline-block; }
.contHeaderTools .menuCont nav ul li a { display: block; color: #16256f; text-decoration: none; font-weight: 600; padding: 10px 15px; margin: 0; text-align: center; }
.hvr-underline-from-center::before { background: #16256f!important; }

#search-form { float:auto; width: 70%; height: 40px; line-height:15x; text-indent:5px; color:#444; background: #fff; border:solid 1px #d9d9d9; box-shadow: 1px 0 0px #aaa; -moz-transition: padding .25s; -webkit-transition: padding .25s; -o-transition: padding .25s; transition: padding .25s; border-radius: 6px 0px 0px 6px; -webkit-order-radius: 6px 0px 0px 6px; -moz-order-radius: 6px 0px 0px 6px; }
#search-form:focus{ border: 1px solid #446cb3; box-shadow: 0 0 1px #446cb3; -moz-box-shadow: 0 0 1px #446cb3; -webkit-box-shadow: 0 0 1px #446cb3; }
.search-form { float: right; margin-top: 10px; width: 100%; max-width: 400px; }
/* Form submit button */
.search-form button { overflow: visible; position: relative; float: auto; left: -6px; top: 0; border: 0; padding: 0; cursor: pointer; height: 40px; line-height: 40px; width: 28%; color: #fff; text-transform: uppercase; background: #28166f; border-radius: 0 3px 3px 0; text-shadow: 0 -1px 0 rgba(0, 0 ,0, .3); } 
.search-form button:hover{ background: #446cb4; } 
.search-form button:active,
.search-form button:focus{ background: #446cb4; outline: 0; box-shadow: 0 0 1px #446cb3; -moz-box-shadow: 0 0 1px #446cb3; -webkit-box-shadow: 0 0 1px #446cb3; }
.search-form button:before { content: ''; position: absolute; border-width: 8px 8px 8px 0px; border-style: solid solid solid none; border-color: transparent #28166f transparent; top: 12px; left: -6px; }
.search-form button:hover:before { border-right-color: #446cb3; }
.search-form button:focus:before, .search-form button:active:before{ border-right-color: #446cb3; }
.search-form button::-moz-focus-inner { border: 0; padding: 0; }
.slideContainer { width: 100%; height: auto; position: absolute; top: 50%; left: 0; transform: translate(0,-50%); -webkit-transform: translate(0,-50%); -moz-transform: translate(0,-50%); text-align: center; }
.slideContainer img { width: 100%!important; max-width: 300px!important; height: auto!important; display: block; padding: 0; margin: 0px auto 20px auto; position: inherit !important; top: 0!important; left: 0!important; }
.slideContainer p { text-align: left; }
a.btn_mxGenerci { background: #28166f; border-color: #1d0f55; transition: all 0.24s linear; -webkit-transition: all 0.24s linear; -moz-transition: all 0.24s linear; border-radius: 15px; }
a.btn_mxGenerci:hover { background: #30216a; }
.wide-heigSlider { height: 100%; width: 100%; position: absolute; top: 0; left: 0; z-index: 1; }
/*==============
=== m a i n ===
================*/
main { width: 100%; height: auto; padding: 0; margin: 0; position: relative; }
#experiencia { background: #ededed url(../img/experiencia.png) 0% 100% no-repeat; padding: 0px 0px 0px 0px; height: 100%; min-height: 600px; position: relative; }
#experiencia h2 { font-size: 2.5em; font-weight: 700; color: #4a4c5d; }
#experiencia p { color: #4a4c5d; }
#garantia { background: #ededed url(../img/garantia.png) 0% 50% no-repeat; background-size: cover; padding: 100px 0px 100px 0px; height: auto; position: relative; overflow: hidden; text-align: center; }
#garantia h2 { font-size: 2.5em; font-weight: 700; color: #4a4c5d; }
#garantia p { color: #4a4c5d; }
#clientes { background: #fff; background-size: cover; padding: 100px 0px 100px 0px; height: auto; position: relative; overflow: hidden; }
#clientes h2 { font-size: 2.5em; font-weight: 700; color: #4a4c5d; text-align: center; }
.generiContent { width: 100%; height: auto; padding: 0; margin: 0; position: relative; overflow: hidden; z-index: 2; }
.shapeDown { width: 100%; position: absolute; z-index: 1; left: 0; top: 0; height: 300px; background: white; }
.shapeDown::before { content: ''; position: absolute; right: 0; bottom: -200px; width: 0; height: 0; border-top: 200px solid white; border-right: 2300px solid transparent;}
.story { width: 100%; height: auto; position: absolute; z-index: 2; left: 0; }
.story.up { top: 80px; }
.story.down { bottom: 60px; }
.story img { width: 100%; max-width: 404px; height: auto; position: absolute; z-index: 3; right: 0; top: -250px; }


/*-------------------
	C O L U M N A S   
---------------------*/
.visible-desk { display: none; }
.visible-mobile { display: block; }
.row-jm { width: 95%; margin: 0px auto; padding: 0; clear: both; }
.jm-box-1 { width: 100%; padding: 0; margin: 0; }
.jm-box-2 { width: 100%; padding: 0; margin: 0; }
.jm-box-2-1 { width: 100%; padding: 0; margin: 0; }
.jm-box-3 { width: 100%; padding: 0; margin: 0; }
.jm-box-3-1 { width: 100%; padding: 0; margin: 0; }
.jm-box-4 { width: 100%; padding: 0; margin: 0; }
.jm-box-4-1 { width: 100%; padding: 0; margin: 0; }
.jm-box-6-pr { width: 100%; padding: 0; margin: 0; }
.jm-box-7 { width: 100%; padding: 0; margin: 0; }

/* Diseño tableta: de 481 px a 768 px. Hereda estilos de: Diseño móvil. */

@media only screen and (min-width: 481px) {
header { min-height: 700px; }
#experiencia { min-height: 650px; }


/*-------------------
	C O L U M N A S   
---------------------*/
.visible-desk { display: none; }
.visible-mobile { display: block; }
.jm-box-1 { width: 100%; }
.jm-box-2 { width: 50%; }
.jm-box-2-1 { width: 20%; }
.jm-box-3 { width: 100%; }
.jm-box-3-1 { width: 30%; }
.jm-box-4 { width: 50%; }
.jm-box-4-1 { width: 40%; }
.jm-box-6-pr { width: 60%; }
.jm-box-7 { width: 70%; }
}

/* Diseño escritorio: de 769 px hasta un máximo de 1232 px.  Hereda estilos de: Diseño móvil y Diseño tableta. */

@media only screen and (min-width: 769px) {
header { min-height: 780px; }
#experiencia { min-height: 700px; }
.story.down { bottom: 90px; }
.story.up { top: 100px; }

/*-------------------
	C O L U M N A S   
---------------------*/
.visible-desk { display: block; }
.visible-mobile { display: none; }
.jm-box-1 { width: 100%; }
.jm-box-2 { width: 50%; }
.jm-box-2-1 { width: 20%; }
.jm-box-3 { width: 33.33%; }
.jm-box-3-1 { width: 30%; }
.jm-box-4 { width: 25%; }
.jm-box-4-1 { width: 40%; }
.jm-box-6-pr { width: 60%; }
.jm-box-7 { width: 70%; }
}

/*mediaquery desktop 2*/
@media only screen and (min-width: 1025px) {
#experiencia { min-height: 800px; }
.story.down { bottom: 130px; }

/*-------------------
	C O L U M N A S   
---------------------*/
.visible-desk { display: block; }
.visible-mobile { display: none; }
.jm-box-1 { width: 100%; }
.jm-box-2 { width: 50%; }
.jm-box-2-1 { width: 20%; }
.jm-box-3 { width: 33.33%; }
.jm-box-3-1 { width: 30%; }
.jm-box-4 { width: 25%; }
.jm-box-4-1 { width: 40%; }
.jm-box-6-pr { width: 60%; }
.jm-box-7 { width: 70%; }
}

/*mediaquery desktop 2*/
@media only screen and (min-width: 1281px) {
header { min-height: 800px; }
    

/*-------------------
	C O L U M N A S   
---------------------*/
.visible-desk { display: block; }
.visible-mobile { display: none; }
.jm-box-1 { width: 100%; }
.jm-box-2 { width: 50%; }
.jm-box-2-1 { width: 20%; }
.jm-box-3 { width: 33.33%; }
.jm-box-3-1 { width: 30%; }
.jm-box-4 { width: 25%; }
.jm-box-4-1 { width: 40%; }
.jm-box-6-pr { width: 60%; }
.jm-box-7 { width: 70%; }
}




/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers:
 * http://juicystudio.com/article/screen-readers-display-none.php
 */

.hidden {
    display: none !important;
    visibility: hidden;
}

/*
 * Hide only visually, but have it available for screen readers:
 * http://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media print,
       (-o-min-device-pixel-ratio: 5/4),
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   http://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
    *,
    *:before,
    *:after {
        background: transparent !important;
        color: #000 !important; /* Black prints faster:
                                   http://www.sanbeiji.com/archives/953 */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    /*
     * Printing Tables:
     * http://css-discuss.incutio.com/wiki/Printing_Tables
     */

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
